.navbar{
    height:80px;
    width:100%;
    display: flex;
    background-color: rgb(197, 164, 212);
    margin-top:0px;
    z-index: 100;
    position: fixed;
}
.header{
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.navlogo{
    font-size: 40px;
    font-weight: 600;
    font-family: serif;
    color: rgb(133, 78, 7);
    padding-left: 5%;
    cursor: pointer;
}

.navlogo:hover{
    color:blue;
    transform: scale(1.1);
}

.fa-solid{
display: none;
}

.nav-menu{
    width:100%;
    display: flex;
    justify-content: right;
    list-style: none;
    align-items: right;
    margin-right: 20px;

}

.nav-menu li{
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 3%;
    padding-top: 10px;
    font-size: 18px;
    color: rgb(133, 78, 7);
    position: relative;
    transition: 0.5s;
}


.nav-menu li:hover{
    color:black;
    transform: scale(1.1);
    border-bottom: 2px double green;
    border-width: 50%;
    

}

.contact-nav{
    text-decoration: none;
    color: rgb(133, 78, 7);
}
.contact-nav:hover{
    color: black;
}



@media screen and (max-width:780px){
    .header{
        margin-right: 20px;
    }
    .navlogo{
        margin-left: 10%;
    }

    .fa-solid{
        display: flex;
        font-size: 30px;
        color: white;
        padding-right: 5%;
        text-align: center;
        align-items: left;
        margin-right: 50px;
        
    }
    .nav-menu{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu li,
    .contact-nav{
        color: black;
    }
    

    .nav-menu li:hover,
    .contact-nav:hover{
        border: none;
        color: white;

    }
    .nav-menu.active {
        background: green;
        height: 50vh;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        line-height: 40px;
        transition: 0.5s;
      }
      .nav-menu.active li:hover{
          padding: 0;
          font-size: 22px;
          background-color: darkgrey;
      }



    
}


